footer{
  border-top: 5px inset black;
  height: 300px;
  margin-top: 80px;
  max-width: 100%;
}
.logo-image-container{
  background-image: url("./images/footerImage.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: center, center;
  height: 100px;
  border-radius: 10%;
  width: 200px;
  background-size: cover;
  
}
.footer-links{
  display: flex;
  flex-direction: row;
}

.footer-links-left{
  display: flex;
  flex-direction: column;
  
}
.footer-links-right{
  display: flex;
  flex-direction: column;
}
.footer-button{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 15px;
  
}
.footer-button:hover{
  color: 	#ccff00;
}
.bar{
  border: 1px solid darkgray;
  width: 235px;

}