


.head-container{
  background-image: url("./images/headerImage.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position:top;
  max-width: 100%;
  border-bottom: 10px double rgb(18, 54, 82) ;
}

h1{
  font-family: "Arial", sans-serif;
  font-style: oblique;
  text-align: center;
  font-size: 50px;
  margin-top: 95px;
}

.about-us-text{
  font-family: "Segoue UI", sans-serif;
  text-align: center;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 35px;
  padding-bottom: 35px;
  color: black;

}

.study-habits-image{
  background-image: url("./images/booksImage.jpg");
  border-right: 1px solid black;
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 300px;
  margin-left: 15px;
}
.links-outside-image{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px outset black;

}
a{
  color : black;
}
a:hover{
  color: rgb(41,80,109);
}

.list{
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  
  font-family: "Alkatra", cursive;
}
.listItem{
  padding-bottom: 15px;
  list-style: "⚡";
  font-size: 18px;
  font-family: "Segoue UI", sans-serif;
  text-decoration: none;

}
.user-review-carousel{
  height: 300px;
}
