/* .carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carouselButt{
    background-color: #e1e1e1;
    width: 25vh;
    height: 6vh;
    top: 50%;
    transform: translateY(-50%);
}
/* .slide-carousel{
  padding-bottom: 330px;
} */
/* .slider-carousel{
  display: flex;
  flex-direction: row;
} */
/* .card{
  height: 300px;
  padding-bottom:55px;
  width: 100%;
} */