.deck{
  background-color: darkslategray;
  display: flex;
  max-width: 100%;
  border : 2px solid black;
  height: 200px;
  width: 600px;
  cursor: pointer;
}
.decks-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  text-align: center;
  row-gap: 50px;
}

/* .deckbutt{
  
} */

.deck-cardnum-butt-flex{
  display: flex;
  flex-direction: column;
}