.explanation-container{
  height: 2000px;
  width: 2500px;
  max-width: 100%;
  }
  .container-image-1{
    height: 500px;
    width: 600px;
    padding-bottom: 25px;

  }
  .section-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:100% ;
    justify-content: space-around;
    margin-top: 65px;
    padding-top: 100px;

  }
  .section-1-text{
    margin-top: 135px;
    word-wrap: normal;
    font-size: 23px;
    font-style: oblique;
  }
.book-add{
  font-size: 245px;
  margin-left: 80px;
  margin-top: 40px;
}
  
  
  
  .container-image-2{
    height: 500px;
    width: 600px;
  }
  .section-2{
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
  }
  .section-2-text{
    margin-top: 135px;
    word-wrap: normal;
    padding-left: 55px;
    font-size: 23px;
    font-style: oblique;
  }
  .navigation-icon{
    font-size: 245px;
    margin-left: 105px;
    margin-top: 145px;
  }
  
  
  
  
  .section-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:100% ;
    justify-content: space-around;
    margin-top: 65px;
  }
  .section-3-text{
    margin-top: 135px;
    word-wrap: normal;
    padding-left: 55px;
    font-size: 23px;
    font-style: oblique;
  }
  .container-image-3{
   height: 500px;
    width: 600px;
  }
  .delete-icon, .edit-icon{
    font-size: 200px;
    margin-left: 55px;
  }
  
  .delete-icon{
    margin-bottom: 25px;
    margin-left: 55px;
  }
  
  .section-4{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    max-width:100% ;
    justify-content: space-around;
    margin-top: 65px;
    max-width: 100%;
  }
  .section-4-text{
    margin-top: 135px;
    word-wrap: normal;
    padding-left: 55px;
    font-size: 23px;
    font-style: oblique;
  }
  .container-image-4{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 600px;
  }
  .stop-watch{
    font-size: 245px;
    margin-left: 85px;
  }