.explanation-container{
  height: 1300px;
  width: 2500px;
  max-width: 100%;
  }
  .container-image-1{
    height: 400px;
    width: 600px;
    background-image: url("./images/indexcards.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
  .section-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:100% ;
    background-color: rgb(160, 215, 217);
    justify-content: space-around;
}
  .section-1-text{
    word-wrap: normal;
    font-size: 23px;
    font-style: oblique;
    padding-top: 155px;
    padding-right: 45px;
  }

  
  
  
  .container-image-2{
    height: 400px;
    width: 600px;
    color: rgb(160, 215, 217);;
    background-image: url("./images/navigation.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section-2{

    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    background-color: rgb(160, 215, 217);
  }
  .section-2-text{
    margin-top: 135px;

    padding-left: 55px;
    font-size: 23px;
    font-style: oblique;
  }
  
  
  
  
  
  .section-3{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:100% ;
    background-color:  rgb(160, 215, 217);
    justify-content: space-around;
  }
  .section-3-text{
    word-wrap: normal;
    font-size: 23px;
    font-style: oblique;
    padding-top: 155px;
    padding-right: 45px;
  }
  .container-image-3{
    background-image: url("./images/edit&delete.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
  }


  
  .section-4{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    max-width:100% ;
    justify-content: space-around;
    max-width: 100%;
    background-color:rgb(160, 215, 217);
  }
  .section-4-text{
    margin-top: 155px;
    word-wrap: normal;
    padding-left: 55px;
    font-size: 23px;
    font-style: oblique;
  }
  .container-image-4{
    background-image: url("./images/timer.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 600px;
  }
