
.inputs-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 70px;
}

.databox{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border: solid black 3px;
  border-radius: 3%;
  background-color: #ab70e6;
  width: 400px;
  height: 400px;
  font-family: 'Alkatra', cursive;
}

.databox2{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border: solid black 3px;
  border-radius: 3%;
  background-color:#66bec6;
  width: 400px;
  height: 400px;
}

.deck-component{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.new-deck-info{
  transform: scale(1.3);
  display: flex;
  flex-direction: column;
}

.finish-butt{
  transform: scale(.7);
}